
* {  
    box-sizing: border-box;  
    }

.container{
    display: flex;
}
.item{
    flex-grow: 1;
}
.nav-list{
    display: flex;
    list-style: none;
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
    gap: 2rem;
    font-weight: bold;
    text-align: left;  
    padding: 20px;
    border: 14px solid #C3B1E1;
    background-color: #C3B1E1;
    border-style: hidden;
    margin: 20px 0;
}

head{
    font-size: 100%;
}
header{
    font-family: sans-serif;
    font-size: 1.875em;
    font-weight: bold;
    color: black;
    font-weight: bold;
    text-align: left;  
    padding: 20px;
    border: 14px solid #C3B1E1;
    border-style: hidden;
    background-color: #C3B1E1;
    margin: 20px 0;
}
footer{
    padding: 5px;
    margin: 5px;
    text-align: center;
    font-size: large;
    border: 14px solid #C3B1E1;
    background-color: #C3B1E1;
    border-style: hidden;
}
.selfPhoto{
    width: 32%;
    margin-left: 10%;
    padding: 20px;
    border: 14px;
    border-radius: 200px;
}
Article{
    margin-right: auto;
    margin-left: 2rem;
    padding: 20px;
    border: 14px;
}

Article .container{
    align-items: center;
}
Article .item{
    align-self: center;
}

Article p{
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
Article span{
    color: brown;
}
Article #span1{
    color: blue;
    font-size: 3rem;
}

#Intro p{
    text-align: center;
}

.green-box {  
    background-color: green;  
    position: relative;  
    top: 50px;  
    left: 120px;  
    }

@font-face {
    font-family: myFirstFont;
    src: url(sansation_bold.woff);
    font-weight: bold;
}
#footer img{
    width: 50px;
}

/*About Me*/
#AboutMe head{
    padding: 200px;
}
#AboutMe{ 
    text-align: center;
    padding: 100px;
    padding-left: 400px;
    padding-right: 400px;
    height: fit-content;
    width: fit-content;
    border-radius: 30px;
    border: 14px solid beige;
    background-color: beige;
    border-style: hidden;
    margin: 20px 0;
    
}


/*LINKS */
a:link {

    color: black;
    
    background-color: transparent;
    
    text-decoration: none;
    
    }
    
a:visited {
    
    color: black;
    
    background-color: transparent;
    
    text-decoration: none;
    
    }
    
a:hover {
    
    color: red;
    
    background-color: transparent;
    
    text-decoration: none;
    
    }
    
a:active {
    
    color: orange;
    
    background-color: transparent;
    
    text-decoration: none;
    
    }
