
* {  
    box-sizing: border-box;
    background-color:whitesmoke;  
    }

head{
    font-size: 100%;
}
header{
    font-family: sans-serif;
    font-size: 1.875em;
    font-weight: bold;
    color: black;
    font-weight: bold;
    text-align: left;  
    padding: 20px;
    border: 14px solid beige;
    border-style: hidden;
    background-color: beige;
    margin: 20px 0;
}
.green-box {  
    background-color: green;  
    position: relative;  
    top: 50px;  
    left: 120px;  
    }

@font-face {
    font-family: myFirstFont;
    src: url(sansation_bold.woff);
    font-weight: bold;
}
img{
    width: 500px;
    }
#footer img{
    background: black;
    width: 50px;
}
    